<a href="https://colab.research.google.com/github/varunbommagunta/TreeModels/blob/main/XGBoost/XGBoost_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
from sklearn.datasets import load_boston

In [53]:
import pandas as pd
import numpy as np

In [54]:
boston = load_boston()

In [55]:
dir(boston)

['DESCR', 'data', 'feature_names', 'filename', 'target']

In [56]:
X = boston.data
y = boston.target

In [64]:
df = pd.DataFrame(X,y,columns = boston.feature_names).reset_index()

In [65]:
df.head()

   index     CRIM    ZN  INDUS  CHAS  ...  RAD    TAX  PTRATIO       B  LSTAT
0   24.0  0.00632  18.0   2.31   0.0  ...  1.0  296.0     15.3  396.90   4.98
1   21.6  0.02731   0.0   7.07   0.0  ...  2.0  242.0     17.8  396.90   9.14
2   34.7  0.02729   0.0   7.07   0.0  ...  2.0  242.0     17.8  392.83   4.03
3   33.4  0.03237   0.0   2.18   0.0  ...  3.0  222.0     18.7  394.63   2.94
4   36.2  0.06905   0.0   2.18   0.0  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 14 columns]

In [66]:
df.rename(columns = {'index':'target'},inplace = True)

In [67]:
df.head()

   target     CRIM    ZN  INDUS  CHAS  ...  RAD    TAX  PTRATIO       B  LSTAT
0    24.0  0.00632  18.0   2.31   0.0  ...  1.0  296.0     15.3  396.90   4.98
1    21.6  0.02731   0.0   7.07   0.0  ...  2.0  242.0     17.8  396.90   9.14
2    34.7  0.02729   0.0   7.07   0.0  ...  2.0  242.0     17.8  392.83   4.03
3    33.4  0.03237   0.0   2.18   0.0  ...  3.0  222.0     18.7  394.63   2.94
4    36.2  0.06905   0.0   2.18   0.0  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 14 columns]

In [70]:
df.corr()

           target      CRIM        ZN  ...   PTRATIO         B     LSTAT
target   1.000000 -0.388305  0.360445  ... -0.507787  0.333461 -0.737663
CRIM    -0.388305  1.000000 -0.200469  ...  0.289946 -0.385064  0.455621
ZN       0.360445 -0.200469  1.000000  ... -0.391679  0.175520 -0.412995
INDUS   -0.483725  0.406583 -0.533828  ...  0.383248 -0.356977  0.603800
CHAS     0.175260 -0.055892 -0.042697  ... -0.121515  0.048788 -0.053929
NOX     -0.427321  0.420972 -0.516604  ...  0.188933 -0.380051  0.590879
RM       0.695360 -0.219247  0.311991  ... -0.355501  0.128069 -0.613808
AGE     -0.376955  0.352734 -0.569537  ...  0.261515 -0.273534  0.602339
DIS      0.249929 -0.379670  0.664408  ... -0.232471  0.291512 -0.496996
RAD     -0.381626  0.625505 -0.311948  ...  0.464741 -0.444413  0.488676
TAX     -0.468536  0.582764 -0.314563  ...  0.460853 -0.441808  0.543993
PTRATIO -0.507787  0.289946 -0.391679  ...  1.000000 -0.177383  0.374044
B        0.333461 -0.385064  0.175520  ... -0.177383  1.000000 -0.366087
LSTAT   -0.737663  0.455621 -0.412995  ...  0.374044 -0.366087  1.000000

[14 rows x 14 columns]

In [71]:
from sklearn.model_selection import train_test_split

In [76]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2)

In [73]:
from xgboost import XGBRegressor

In [74]:
model = XGBRegressor(n_estimators=1000,
                     max_depth=7,
                     eta=0.1, 
                     subsample=0.7, 
                     colsample_bytree=0.8)

In [77]:
model.fit(X_train,y_train)

[10:28:29] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, eta=0.1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=7, min_child_weight=1, missing=None, n_estimators=1000,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=0.7, verbosity=1)

In [79]:
y_pred = model.predict(X_test)

In [82]:
from sklearn.metrics import r2_score,mean_squared_error

In [83]:
r2_score(y_test,y_pred)

0.9085709200388827

In [84]:
mean_squared_error(y_test,y_pred)

8.385387398940576